doctype html
html(lang='en')
  head
  include menu/header
  body
    // Navigation
    include menu/nav
    // Masthead
    include menu/masthead

      //Result
      h1 Congratulations!!!
      h3=domain
          |   is available

    // Footer
    include menu/footer

