doctype html
html(lang='en')
  head
  include menu/header
  title Domain Search
  body
    // Navigation
    include menu/nav
    // Masthead
    include menu/masthead

    // Footer
    include menu/footer
    // Bootstrap core JavaScript
    script(src='/assets/vendor/jquery/jquery.min.js')
    script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
