<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Domain Search
    body
        h1 The Domain is TAKEN
        h3 Here are list of available domains
            ul
                each val in found
                    li= val.name
            