footer.footer.bg-light
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
            p.text-muted.small.mb-4.mb-lg-0 © Codesquad 2020. All Rights Reserved.
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            ul.list-inline.mb-0
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-facebook.fa-2x.fa-fw
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-twitter-square.fa-2x.fa-fw
              li.list-inline-item
                a(href='#')
                  i.fab.fa-instagram.fa-2x.fa-fw
